---
global:
  clusterId: kalaxy3

  federatedStorage:
    existingSecret: kubecost-federated-store

frontend:
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

  service:
    type: LoadBalancer
    annotations:
      metallb.io/loadBalancerIPs: "192.168.2.26"

aggregator:
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

  persistentConfigsStorage:
    storageClass: longhorn
    storageRequest: 1Gi

  aggregatorDbStorage:
    storageClass: longhorn
    storageRequest: 128Gi

localStore:
  enabled: false

forecasting:
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

cloudCost:
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

clusterController:
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

finopsagent:
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

networkCosts:
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"