---
global:
  clusterId: kalaxy3
  defaultStorageClass: longhorn

frontend:
  enabled: true
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

  service:
    type: LoadBalancer
    annotations:
      metallb.io/loadBalancerIPs: "192.168.2.26"

aggregator:
  enabled: true
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

  persistentConfigsStorage:
    storageClass: longhorn
    storageRequest: 1Gi

  aggregatorDbStorage:
    storageClass: longhorn
    storageRequest: 128Gi

  resources:
    requests:
      cpu: 100m
      memory: 3Gi

finopsagent:
  enabled: true

  image:
    registry: icr.io
    repository: ibm-finops/agent
    tag: v1.0.20

  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"

localStore:
  enabled: true
  nodeSelector:
    kubernetes.io/arch: amd64
    kalaxy3.io/kubecost: "true"
  persistentVolume:
    enabled: true
    storageClass: longhorn
    size: "{{ kubecost_storage_size }}"
    annotations:
      helm.sh/resource-policy: keep

forecasting:
  enabled: false

cloudCost:
  enabled: false

clusterController:
  enabled: false

networkCosts:
  enabled: false
