---
global:
  cspPricingApiKey:
    useDefaultApiKey: false

finopsagent:
  agent:
    kubecost:
      customPrices:
        enabled: true
        CPU: >-
          {{ '%.8f' | format(kubecost_cpu_core_month_usd | float) }}
        RAM: >-
          {{ '%.8f' | format(kubecost_ram_gib_month_usd | float) }}
        GPU: >-
          {{ '%.8f' | format(kubecost_gpu_month_usd | float) }}
        storage: >-
          {{ '%.8f' | format(kubecost_storage_gb_month_usd | float) }}
        spotCPU: >-
          {{ '%.8f' | format(kubecost_cpu_core_month_usd | float) }}
        spotRAM: >-
          {{ '%.8f' | format(kubecost_ram_gib_month_usd | float) }}
        spotGPU: >-
          {{ '%.8f' | format(kubecost_gpu_month_usd | float) }}
        zoneNetworkEgress: >-
          {{
            '%.8f'
            | format(
                kubecost_calibration.network.zone_egress_usd_per_gb
                | float
              )
          }}
        regionNetworkEgress: >-
          {{
            '%.8f'
            | format(
                kubecost_calibration.network.region_egress_usd_per_gb
                | float
              )
          }}
        internetNetworkEgress: >-
          {{
            '%.8f'
            | format(
                kubecost_calibration.network.internet_egress_usd_per_gb
                | float
              )
          }}

kubecostProductConfigs:
  labelMappingConfigs:
    enabled: true
    department_label: kalaxy3.io/cost-center
    environment_label: kalaxy3.io/environment
    owner_label: kalaxy3.io/owner
    product_label: kalaxy3.io/product
    team_label: kalaxy3.io/team

  sharedNamespaces: >-
    {{ kubecost_calibration.shared.namespaces | join(',') }}

  sharedOverhead: >-
    {{
      '%.2f'
      | format(kubecost_shared_monthly_usd | float)
    }}

networkCosts:
  enabled: >-
    {{
      kubecost_calibration.network.enabled
      | bool
      | ternary('true', 'false')
    }}

  # Override Kubecost's cloud region/zone requirement with a valid
  # Kubernetes affinity that permits every Linux Kalaxy3 node.
  affinity:
    nodeAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        nodeSelectorTerms:
          - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                  - linux
