write-kubeconfig-mode: "0640"
node-ip: "{{ ansible_host }}"
advertise-address: "{{ ansible_host }}"
cluster-cidr: "{{ k3s_cluster_cidr }}"
service-cidr: "{{ k3s_service_cidr }}"
cluster-dns: "{{ k3s_cluster_dns }}"
tls-san:
{% for san in k3s_tls_sans %}
  - "{{ san }}"
{% endfor %}
disable:
{% for component in k3s_disable %}
  - "{{ component }}"
{% endfor %}
{% if inventory_hostname == groups['k3s_servers'][0] %}
cluster-init: true
{% else %}
token: "{{ hostvars[groups['k3s_servers'][0]].k3s_cluster_token }}"
server: "https://{{ k3s_api_endpoint }}:6443"
{% endif %}
