[defaults]
collections_path = .ansible/collections
collections_scan_sys_path = false
inventory = inventory/hosts.yml
host_key_checking = True
interpreter_python = auto_silent
stdout_callback = ansible.builtin.default
callback_result_format = yaml
retry_files_enabled = False
timeout = 30

[ssh_connection]
ssh_args = -o UserKnownHostsFile=inventory/ssh_known_hosts -o GlobalKnownHostsFile=/dev/null -o StrictHostKeyChecking=yes -o BatchMode=yes
pipelining = True
