apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  failurePolicy: reinstall
  valuesContent: |-
    api:
      dashboard: true
      insecure: false

    ingressRoute:
      dashboard:
        enabled: false

    service:
      spec:
        loadBalancerIP: {{ traefik_load_balancer_ip }}
        externalTrafficPolicy: Local
      annotations:
        metallb.io/address-pool: {{ metallb_pool_name }}
